{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block title %}Регистрация{% endblock %}

{% block content %}
<div class="card body col-lg-6 mx-auto pb-2">
<div class="col-md-10 text-center mx-auto pt-2">
 <h1>Регистрация</h1>
 <form action="." method="post">
 {{ user_form|crispy }}
 {% csrf_token %}
 <p><input type="checkbox" name="a" value="1417" required> Согласен со всем</p>
 <p><input class="btn btn-info my-4 btn-block" type="submit" value="Зарегистрироваться"></p>
 </form>
  <p>или:</p>
 <a class="btn btn-outline-info waves-effect col-md-8 ml-0" href="{% url "social:begin" "google-oauth2" %}">
 Google регистрация
 </a>
 </div>
</div>
<br><br><br>
{% endblock %}