{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block head_title %}Сброс пароля{% endblock %}

{% block content %}
<div class="card body col-lg-6 mx-auto">
<div class="col-md-10 text-center mx-auto pt-2">

    <h1>Сброс пароля</h1>
  

    <p>Забыли свой пароль? Введите свой адрес электронной почты ниже,и мы вышлем вам электронное письмо, позволяющее сбросить его.</p>

    <form method="POST" action="." class="password_reset">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-info my-4 btn-block" type="submit" value="Сбросить пароль" />
    </form>

    <p>Пожалуйста, свяжитесь с нами, если у вас возникнут какие-либо проблемы со сбросом пароля.</p>
</div>
</div>
{% endblock %}


