{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Reset your password{% endblock %}


{% block content %}
 <h1>Сброс пароля</h1>
 {% if validlink %}
 <p>Пожалуйста, дважды введите свой новый пароль:</p>

 <form action="." method="post">
 {{ form|crispy }}
 {% csrf_token %}
 <p><input type="submit" value="Change my password" /></p>
 </form>
 {% else %}
 
 <p>Ссылка на сброс пароля была недействительной, возможно, потому, что она была удалена.
 он уже был использован. Пожалуйста, запросите новый сброс пароля.</p>
 {% endif %}

{% endblock %}