{% extends "account/base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container my-5 py-5 z-depth-1">
<section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
<div class="row d-flex justify-content-center">
<div class="col-md-6 text-center">
<h1>{% trans "Sign Up" %}</h1>



<form class="signup text-center" id="signup_form" method="post" action="{% url 'account_signup' %}" novalidate="">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input  type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="btn btn-info my-4 btn-block" type="submit">{% trans "Sign Up" %}</button>
</form>
<hr>
<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
</div>
</div>
</section>
</div>
{% endblock %}
