{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="col ml-0 pl-0">

 <div class="row">
	<div class="col-lg-10 d-none d-sm-none d-lg-block pr-0">
    <div class="card wow fadeIn">
  <!-- Carousel Wrapper -->
  <div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-2" data-slide-to="1"></li>
      <li data-target="#carousel-example-2" data-slide-to="2"></li>
    </ol>
    <!-- Indicators -->
    <!-- Slides -->
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <div class="view">
          <a href="#!">
            <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Others/ecommerce4.jpg" alt="First slide">
            <div class="mask rgba-white-slight text-center d-flex align-items-center justify-content-center">
              <div class="row">
                <div class="col-12">
                  <h1 class="h1-responsive red-text font-weight-bold mb-0">Вакансии в судоходные компании</h1>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="carousel-item">
        <!-- Mask color -->
        <div class="view">
          <a>
            <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Others/ecommerce2.jpg" alt="Second slide">
            <div class="mask rgba-white-slight text-center d-flex align-items-center justify-content-center">
              <div class="row">
                <div class="col-12">
                  <h1 class="h1-responsive indigo-text font-weight-bold mb-0">Вакансии на рыбопромышленный флот</h1>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="carousel-item">
        <!-- Mask color -->
        <div class="view">
          <a>
            <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Others/ecommerce3.jpg" alt="Third slide">
            <div class="mask rgba-white-slight text-center d-flex align-items-center justify-content-center">
              <div class="row">
                <div class="col-12">
                  <h1 class="h1-responsive orange-text font-weight-bold mb-0">Работа на путине. Береговые рыбные заводы.</h1>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <!-- Slides -->
    <!-- Controls -->
    <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Назад</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Далее</span>
    </a>
    <!-- Controls -->
  </div>
  <!-- Carousel Wrapper -->

      </div>
   
</div>
   <div class="card col ml-3 d-none d-sm-none d-lg-block">

      
              <!-- List group links -->
              <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action waves-effect">Вакансий
                  <span class="badge badge-success badge-pill pull-right">2224
                    
                  </span>
                </a>
                <a class="list-group-item list-group-item-action waves-effect">Моряков
                  <span class="badge badge-danger badge-pill pull-right">34124
                    
                  </span>
                </a>
               
              </div>
              <!-- List group links -->

          </div>
	</div>
<div class="mb-4 d-none d-sm-none d-lg-block"></div>

<div class="row">
<div class="col-lg-6 pr-0">
  <div class="card body text-center p-3">
<h4>Объявления поиска работы</h4>

  {% for post in object_list %}
  <div class="col-12  text-right">
   <div class="row wow fadeIn waves-effect hoverable mt-2" >
    <div class="col-12" style="border: 1px solid #e9e9e9;">
  <a href="{% url 'post_detail' post.pk %}">{{ post.text }}</a>
  <p>{{ post.user }}</p>
  <p>{{ post.phone }}</p>
</div>
</div>
</div>
  {% endfor %}
  </div>
</div>
</div>


</div>
{% endblock content %}

